
.Logo {
  background-image: url("../images/logo1.png");
  width: 300px;
  height: 100px;
  margin: auto;
  margin-top: 65px;
}/*
.Logo {
  background-image: url("../images/logo4.png");
  width: 260px;
  height: 180px;
  margin: auto;
  margin-top: 25px;
}*/
/*
.Logo {
  background-image: url("../images/logo1.png");
  width: 300px;
  height: 100px;
  margin: auto;
  margin-top: 65px;
}*/